.main {
    padding: 30px;
    font-family: 'Helvetica', serif;
    box-shadow: 5px 5px 7px 5px #25d9e6;
    background-size: 100% ;
    background-image: linear-gradient(rgb(0, 255, 179),rgb(238, 238, 106));

}
.error{
    color: red;
    font-size: 26px;
}
h2{
    font-size: 40px;
    font-weight: bold;
}
.main h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Helvetica', serif;
    margin-left: 10px;
}

input {
    font-family: 'Helvetica', serif;
    width: 100%;
    font-size: 25px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 5px;
    border-radius: 20px;

}
.m1{
   padding-left: 18px;
}
input[type=submit] {
    font-family: 'Helvetica', serif;
    width: 45%;
    background-color: #0a57a5;
    margin-left: 28%;
    border: none;
    color: white;
    border-radius: 10px;
}
.body1{
    
    background-image: url("https://thumbs.dreamstime.com/b/abstract-colorful-flame-patterns-white-background-abstract-colorful-flame-patterns-white-background-119318190.jpg");
    background-repeat: no-repeat;
    margin-top: 10%;
    background-size: 100%;

}
.main3{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/79/444/1019/microsoft-windows-windows-10-wallpaper-preview.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.wel1{
    
    float: end;
    display: block;
    color: white;
    text-shadow: 5px 8px 10px rgb(30, 172, 228);
}
.h11{
    font-size: 100px;
}